.infor{
    
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: end;
    background-color: #ffe0c3;
    border-radius: 20px;
    padding: 50px;
    border: solid white;
}

img{
    width: 50%;
    height: 50%;
    display: flex; 
}

.cajono{
    display: flex;
    margin: auto;
    
}

h1{
    background:#ffe0c3;
    padding: 10px;
}

.p{
   
    text-align: left;
}

.Joz{
    border-radius: 320px;
}

.photos2{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    align-items: center;
    margin-left: 80px;
}