.login{
    margin: auto;
    border: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.fiv{
    background: #ff8c00;
    padding: 10%;
  
}

button{
    height: 25px;
}

.iniciar{
    background: #ff8c00;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
