.UnNav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #ff8c00;
    width: 100%;
    height: 60px;
    align-items: center;
}

.Links{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
}

.btns{
    margin-left: 10px;
    display: flex;

}

.logo{
    width: 100%;
}

.Logo{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.UwU{
    display: flex;
    align-items: center;
}

.bt{
    display: flex;
    flex-direction: row;
}

.s{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 10px;
    border: none;
    background: #cc750a;

}

.r{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 10px;
    border: none;
    background: #cc750a;
}

.Link{
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}



