.pasarela {
    width: 350px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
  }
  
  .payment-methods,
  .personal-info,
  .credit-card-info {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  button.submit-btn {
    padding: 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button.submit-btn:hover {
    background-color: #bb6904;
  }
  
  body.mi-pagina{
    background-color: #ff8c00;
  }