
/* .ContCard {
  background-color: blue;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
} */
.container {
  width: 100%;

}
.ContCard {
  width: 80%;
  margin: auto;
}

.itemCard {
  background-color: white;
  text-align: center;
  border-radius: 10px;  
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.582);
  padding: 6%;
  margin: auto;
  line-height: 10px;
}

.itemCard2 {
  background-color: white;
  text-align: center;
  border-radius: 10px;  
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.582);
  padding: 6%;
  margin: auto;
  line-height: 10px;
}

.itemCard2 img {
  width: 80%;
  margin: auto;
  height: 190px;
}

.itemCard:hover {
  transform: scale(1.02);
}


.itemCard img{
  width: 80%;
  margin: auto;
  height: 170px;
}

.container{ 
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
  column-gap: 0;
  list-style: none;
}

.btnCarrito {
  text-align: right;
}

.btnCarrito button {
  background-color: #ff8c00;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.btnCarrito button:hover {
  background-color: #bb6904;
  transform: scale(1.3);
}
